*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: rgb(51, 10, 105);
    color: white;
}

h2{
    font-size: 2em;
    color: #f997ff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 35px;
}

h4{
    font-size: 1.4em;
    padding-bottom: 20px;
    color: #f997ff;    
}

p{
    padding-right: 40px;
    padding-bottom: 10px;
    font-size: 0.95em;
}

header{
    position: absolute;
    width: 100%;
    padding: 30px 100px;
    z-index: 100;   
}

header ul{
    display: flex;
    justify-content: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;

}
header ul li a:hover{
    background: white;
    color: rgb(51, 10, 105);
    border-radius: 20px;
    
}
section{
    background-image: linear-gradient(180deg, #6a18dc 0%, #f997ff 60%, rgb(51, 10, 105) 80%);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#intro{
    position: absolute;
    color: white;
    font: 4em sans-serif;
    transform: translateY(230px);
    
}
#button{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 20px;
    background: white;
    color: rgb(51, 10, 105);
    font-size: 1em;
    transform: translateY(150px);
    z-index: 10;
}

.content{
    padding: 200px;
    padding-bottom: 50px;
    display: flex;
    align-items:center;
}

.qual{
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px){
    .qual{
        flex-direction: column;
    }
}

.workExperience{
    padding: 10%;
    padding-bottom: 10px;
    max-width: 50%;

}

.experience{
    padding: 25px;
    margin: auto;
    max-width: 30%;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;

}

.comp{
    margin: 0 20px 20px 20px;
}

.dateR{
    padding-top: 20px;
    text-align: right;
}

.dateL{
    padding-top: 20px;
    text-align: left;
}

.finTime{
    padding-top: 20px;
    text-align: center;
}

.middle{
    position: relative;
    top: 20px;
    background: white;
}

.bg{
    padding: 1.5em;
    background: rgba(255, 255, 255,0.2);
    box-shadow: rgba(255, 255, 255,0.2);
    border-radius: 15px;
    transform: translateX(10%);
}

.bg2{
    padding: 1.5em;
    background: rgba(255, 255, 255,0.2);
    box-shadow: rgba(255, 255, 255,0.2);
    border-radius: 15px;
    transform: translateX(-10%);
}

.point{
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: translateX(-50%);
    background: white;
    border-radius: 50%;
}

.finPoint{
    top: initial;
    bottom: 0;
}

.skills{
    padding: 10%;
    width: 50%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.skill{
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items:baseline;
}

.bar{
    transform: translateX(10%);
    width: 80%;
    background-color:rgba(255, 255, 255,0.2);
}

.S{
    height: 7px;
}
.art{
    width: 75%; 
    background-color: #f997ff;
}
.coding{
    width: 70%; 
    background-color:#f997ff;
}
.writing{
    width: 85%; 
    background-color:#f997ff;
}

.contact{
    padding: 200px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}


.work{
    padding: 200px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.workInside{
    display: flex;
    align-items:flex-start;
    flex-direction: row;
    
}

.insta{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

#inst{
    transform: translateY(-10px);
    padding-left: 50px;
}

.cards{
    position: relative;
    width: 300%;
    min-width: 350px;
    min-height: 350px;
    height: auto;

}

#showcase1{
    position: absolute;
    left: -120px;
    transform: rotate(-10deg);
    width: 100%;
    height: auto;
}
#showcase2{
    position: absolute;
    top: -100px;
    transform: rotate(4deg);
    transform: translateX(150%);
    width: 100%;
    height: auto;
}

#showcase3{
    position: absolute;
    top: -100px;
    opacity: 0.8;
    left: 50px;
    transform: rotate(-10deg);
    width: 50%;
    height: auto;
    z-index: 0;
}
#showcase4{
    position: absolute;
    top: -100px;
    right: 50px;
    width: 50%;
    transform: rotate(10deg);
    height: auto;
}

hr{
    width: 70% ;
    border-color: #f997ff;
    margin-top: 150px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#pfp{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border-bottom-right-radius: 5px;
    border-right-width: 2px;
    border-color: #f997ff;
    border-style:solid;
    
}

.mail{
    display: flex;
    flex-direction: row;
}

.mail h5{
    padding-right: 10px;
}

.mail p{
    color: #f997ff;
    font-size: 0.8em;
}

