*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(51, 10, 105);
    color: white;
    height: 1000;
}
header{
    position: absolute;
    width: 100%;
    padding: 30px 100px;
    z-index: 100;   
}

header ul{
    display: flex;
    justify-content: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;

}
header ul li a:hover{
    background: white;
    color: rgb(51, 10, 105);
    border-radius: 20px;
    
}
section{
    background-image: linear-gradient(180deg, #6a18dc 0%, #f997ff 100%);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#intro{
    position: absolute;
    font: 4em sans-serif;
    transform: translateY(220px);
    
}
#button{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 20px;
    background: white;
    color: rgb(51, 10, 105);
    font-size: 1em;
    transform: translateY(150px);
    z-index: 10;
}
.content{
    padding: 100px;
}
.content h2{
    font-size: 2.5em;
    padding-bottom: 10px;
}
