<section class="mainBody">
    
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-1 sideBars">
        </div>

        <div class="col-lg-10">

              <div class="row mt-5">

                <div class="col-lg-4 text-center latestSideSection">
                    <h2 class="subSection display-6 mb-3">Latest</h2>

                    <div class="latestCard row ms-1 me-1">
                      <div class="col-4">
                        <img src="assets/articleExamplePlaceholders/News1.jpg" class="imgCard latestSectionImg">
                      </div>
                      <div class="col-8 text-start">
                          <a href="#" class="title"> Looks Like Dragon’s Dogma 2 Is Having A Rough Time On PC</a>
                      </div>
                    </div>

                    <div class="latestCard row ms-1 me-1">
                      <div class="col-4">
                        <img src="assets/articleExamplePlaceholders/News1.jpg" class="imgCard latestSectionImg">
                      </div>
                      <div class="col-8 text-start">
                          <a href="#" class="title"> Looks Like Dragon’s Dogma 2 Is Having A Rough Time On PC</a>
                      </div>
                    </div>


                </div>

                <div class="col-lg-6">
                        <div class="pageIntro">
                          <h2 class="intro display-4 fw-semibold mb-3">Anime</h2>
                          <p class="subIntro">The anime industry can be hard to keep up with, but at rOOk, we dedicate ourselves to bringing you the latest anime news on a round-the-clock basis—fact-checked and thoroughly proof-read.</p>
                          <hr class="color-light mt-5">
                        </div>

                <div class="pageCard row ms-1 me-1">
                  <div class="col">
                    <img src="assets/articleExamplePlaceholders/News1.jpg" class="animeImgCard">
                  </div>
                  <div class="col">
                      <a href="#" class="title animeT"> Looks Like Dragon’s Dogma 2 Is Having A Rough Time On PC</a>
                      <p class="subIntro mt-3">Dragon's Dogma 2's reviews are out, and it appears that the much-awaited action RPG is too heavy for any PC to run flawlessly at present.</p>
                  </div>
                </div>

                <div class="pageCard row ms-1 me-1">
                  <div class="col">
                    <img src="assets/articleExamplePlaceholders/News1.jpg" class="animeImgCard">
                  </div>
                  <div class="col">
                      <a href="#" class="title animeT"> Looks Like Dragon’s Dogma 2 Is Having A Rough Time On PC</a>
                      <p class="subIntro mt-3">Dragon's Dogma 2's reviews are out, and it appears that the much-awaited action RPG is too heavy for any PC to run flawlessly at present.</p>
                  </div>
                </div>

              </div>
                
            </div>
        </div>

        <div class="col-lg-1 sideBars">
        </div>

      </div>

  </div>
  </section>