<footer class="footer text-white">
    <div class="container d-flex justify-content-between align-items-center py-3 border-highlight">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="me-2 text-muted text-decoration-none nav-link ">
          <i class="bi bi-cup text-white"></i>
          <span class="footerText">&copy; 2024 Rook</span>
        </a> 
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex text-white">
        <li class="ms-3 "><a class="text-muted nav-link" href="#"><i class="bi bi-twitter text-white"></i></a></li>
        <li class="ms-3"><a class="text-muted nav-link" href="#"><i class="bi bi-instagram text-white"></i></a></li>
        <li class="ms-3"><a class="text-muted nav-link" href="#"><i class="bi bi-facebook text-white"></i></a></li>
      </ul>
    </div>
  </footer>