<nav class="navbar navbar-expand-lg sticky-top navbar-dark navbar-custom shadow-custom">
    <div class="container">
      <a class="navbar-brand" href="#home">
        <img src="assets/logo.gif" alt="" width="115" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-5">
            <a id= "nav-link-home" class="nav-link active" href="#hero">Home</a>
          </li>
          <li class="nav-item px-5">
            <a id= "nav-link-anime" class="nav-link" href="#animeSection">Anime</a>
          </li>
          <li class="nav-item px-5">
            <a id= "nav-link-gaming" class="nav-link" href="#gamingSection">Gaming</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="contactUS.html">Contact Us</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="apiFetch.html">API Example</a>
          </li>
        </ul>
      </div>
    </div>
</nav>