
:root{
    --fontTitles: "Handjet",sans-serif;
    --fontText: "Anek Gurmukhi". sans-serif;
    --bg-color: #161616;
    --tColor: #ffffff;
    --tColorLite: #e2ce17;
    --gColor: #21b6ec;
    --aColor: #f52a2d;
    --transition: all 0.5s ease;
}

body{
    background: linear-gradient(to bottom, #161616 400px,#0e0e0e 750px);
    background-repeat: no-repeat;
    font-size: x-large;
    line-height: 1;
    color: var(--tColor)
}

h1, h2, h3, .h1, .h2 .h3{
    font-weight: 500;
    font-family: var(--fontTitles);
}
h4, p, .h4, .p{
    font-family: var(--fontText);
    font-weight: 400;
}

.navbar-custom {
    background-color: var(--bg-color);
}

.navbar-nav .nav-link{
    font-family: var(--fontTitles);
    font-weight: 700;
    font-size: x-large;
    color: var(--tColor);
}

.navbar-nav .nav-link.active{
    color: var(--tColorLite);
}

.nav-link:hover {
    color: var(--tColorLite);
}

.heroSection{
    overflow: hidden;
}

.imgHero{
    width: 70%;
    animation-name: heroImages, rotation;
    animation-duration: 2s, 5s;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease, ease;
}

.cloudHero{
    width: 110%;
    opacity: 0.75;
    animation-name: heroClouds;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.heroText{
    animation-name: heroTextSlide;
    animation-duration: 2s;
}

@keyframes heroImages{
    from{
        transform: translateX(-300%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes rotation{
    0%,10%,50%,90%,100%{
        transform: rotate(0);
    }
    20%,40%{
        transform: rotate(3deg);
    }
    60%,80%{
        transform: rotate(-3deg);
    }
}

@keyframes heroClouds{
    0%,10%,20%,30%{
        transform: translateY(0);
        transform: translateX(10px);
        transform: scale(100%);
    }
    40%{
        transform: translateX(10px);
        transform: translateY(-30px);
        transform: scale(105%);
    }
    50%{
        transform: translateY(0);
        transform: scale(100%);
    }
    60%{
        transform: translateY(-15px);
        transform: translateX(-20px);
        transform: scale(102.5%);
    }
    70%,80%,90%,100%{
        transform: translateX(-10px);
        transform: scale(100%);
    }
}

@keyframes heroTextSlide{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

@media (max-width: 1000px) {
    .set2{
        display: none;
    }
    .cloudHero{
        width: 100%;
    }
    .imgHero{
        opacity: 0.4;
    }
    .heroText{
        
        color:var(--tColorLite);
    }
}

@media (max-width: 1200px) {
    .set1 {
        opacity: 0.7;
    }
}

.sideBars{
    background-color:#0a0a0a;
}

.sectionTitle{
    color: var(--tColorLite);
    padding-bottom: 20px;
}

.sectionTitle p{
    margin-top: 30px;
}
.line{
    width: 50%;
    height: 2px;
    background-color: var(--tColor);
    margin: 16px auto 16px auto;
}

.card{
    padding-top: 50px;
    width: 100%;
    background-color: transparent;
    color: var(--tColor);
    font-size: small;
}

.imgCard{
    border: var(--tColorLite);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.textHolder{
    padding-top: 15px;
}

.title{
    font-family: var(--fontTitles);
    font-size:x-large;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p.subTitle{
    padding-top: 10px;
}

.gaming, .gameT:hover{
    color: var(--gColor)
}

.gameImgCard{
    border: var(--gColor);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.anime, .animeT:hover{
    color: var(--aColor)
}

.animeImgCard{
    border: var(--aColor);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: var(--tColor);
    transition: var(--transition);
}

a:hover {
    color: var(--tColorLite);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 5%;
    padding-bottom: 5%;
}

.shadow-custom {
    box-shadow: 0 6px 4px rgba(2, 10, 2, 0.5); 
}

.mainHero.shadow-custom2 {
    box-shadow: 0 10px 4px rgba(3, 2, 10, 0.5); 
}

.footer{
    background-color: var(--bg-color);
}

.footerText{
    color: var(--tColor);
    font-family: var(--fontTitles);
    
}

.btn-outline-dark:hover {
    color: var(--tColorLite); 
    background-color: transparent; 
    border-color: var(--tColorLite); 
}

.btn-outline-dark {
    color: var(--tColor);
    border-color: var(--tColor); 
    background-color: var(--bg-color); 
}

.form-control {
    background-color: var(--bg-color);
    border-color: var(--tColor); 
    color: var(--tColor); 
}

.form-control:focus {
    color: var(--tColorLite); 
    background-color: transparent; 
    border-color: var(--tColorLite);
    box-shadow: 0 0 0 2px var(--tColorLite);
}

.form-control::placeholder {
    color: var(--tColor);
}

#successModal .modal-content {
    background-color: var(--bg-color); 
    color: var(--tColor);
}

#successModal .modal-header {
    border-bottom:var(--tColor); 
}

#successModal .modal-title {
    font-family: var(--fontTitles);
    color: var(--tColor); 
}

#successModal .modal-body {
    font-family: var(--fontText);
    font-size: small;
    color: var(--tColor); 
}

.labelTitle{
    font-family: var(--fontTitles);
    font-size:xx-large;
    font-weight: 300;
    
}
